:root {
  --brand-50: #ffecb9;
  --brand-100: #ffe18e;
  --brand-200: #ffd664;
  --brand-300: #ffcb3a;
  --brand-400: #ffc00f;
  --brand-500: #E4A800;
  --brand-600: #c28f00;
  --brand-700: #a07600;
  --brand-800: #725400;
  --brand-900: #443200;
  --brand-contrast: #111111;
}
