:root {
  --bg: #0a0c10;
  --surface-1: #0e1117;
  --surface-2: #141826;
  --surface-3: #1b2233;
  --outline: #35405f;
  --text-1: #ffffff;
  --text-2: #dee3f7;
  --text-3: #aeb6d6;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-1: #0b1020;
    --text-2: #2b3150;
    --text-3: #5c6382;
  }
}
